<ion-content padding>

    <h2>Invoices</h2>
    <ion-list no-margin no-padding lines="none">
      <ion-item margin-bottom *ngFor="let i of invoices | async">
        <ion-label>
        <span slot="end" class="date">{{i.paydate  | date: 'short'}}</span>
        <p>Payed at: {{i.paydate | date: 'short' }}</p>
        <p>Member until:  {{i.paydate | numberToDate: i.price | date: 'short'}}</p>
        <p>Amount: {{i.price}}$</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <p text-center (click)="loadmore()">Load More</p>
  </ion-content>

  <ion-footer>
      <ion-toolbar>
          <ion-buttons slot="start">
              <ion-button (click)="nav('/home')" color="light" fill="clear" slot="end">Back</ion-button>
          </ion-buttons> 
        </ion-toolbar>
  </ion-footer>