<ion-content padding>

    <h2>Boss Lady Network </h2>
    <br>
    <p>Boss lady network started 2015</p>

    <p>We are a network and analysis company</p>

    <p>We focus on currency and commodity trading</p>

    <p>With our 3 years experience in the global market we have attracted more than 18000 client’s globally</p>

    <p>Our clients are focused in enhancing their finances and trusting our services to help them reach their
        financial goals on a monthly basis</p>

    <p>We assist clients with signal and management analysis</p>
            <p>The global market can be very confusing and hard to analyze </p>
            <p>We are a network and analysis company </p>
            <p>We also advise our clients on Money management and capital ratio</p>
            <p>We are making it easy to succeed in this industry </p>
            <p>Thru our services and results we always achieve our monthly target</p>
            <p>70% winning signal ratio monthly </p>

            <ul>
                <li>
                    Signal mentorship program
                </li>
                <li>
                    Register with a broker
                </li>
                <li>
                    Verify your account
                </li>
                <li>
                    Deposit your funds into your trading account
                </li>
                <li>
                    Register with BLNETWORK
                </li>
                <li>
                    Start making profit daily
                </li>
            </ul>

            <ul>
                <li>
                    Signal mentorship
                </li>
                <li>
                    Weekly Analysis
                </li>
                <li>
                    Money management guide
                </li>
                <li>
                    Risk calculations
                </li>
                <li>
                    Technical analysis
                </li>
                <li>
                    Candle reading
                </li>
                <li>
                    Entry price
                </li>
                <li>
                    Exit price
                </li>
            </ul>

        <p>
            Subscription Monthly: $125

        </p>


    <!-- Boss Lady Network 
	•	The global market can be very confusing and hard to analyze 
	•	With our team of professional signal analyst’s we work on a daily basis to ensure we give our clients the best results by proving them with profitable currencies to buy and sell
	•	We also advise our clients on Money management and capital ratio
	•	
	•	We are making it easy to succeed in this industry 
	•	All you have to do is follow our signals analyst daily and make money
	•	Our company funds are traded using the same signals as our clients 
	•	
	•	We are focused on creating financial freedom and financial prosperity to all our clients
	•	Thru our services and results we always achieve our monthly target
	•	70% winning signal ratio monthly 
    •	
    Boss lady network 
	•	
	•	Signal mentorship program 
	•	Register with a broker
	•	Verify your account 
	•	Deposit your funds into your trading account 
	•	Register with BLNETWORK 
	•	Start making profit daily
	•	
	•	Monthly %
	•	30%-40%
	•	
	•	Signal mentorship 
	•	Weekly Analysis 
	•	Money management guide 
	•	Risk calculations 
	•	Technical analysis 
	•	Candle reading 
	•	Entry price 
	•	Exit price
	•	………………
	•	Subscription Monthly
	•	$125
	•	
	•	………… -->
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="nav('/home')" color="light" fill="clear" slot="end">Back</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>