<ion-content padding text-center>
    <h2>Create an Account</h2>
    <ion-input [(ngModel)]="email" type="email" placeholder="Email:"></ion-input>
    <ion-input [(ngModel)]="pass" type="password" placeholder="Password:"></ion-input>
    <br>
    <ion-button color="light" expand="full" (click)="register()">Create</ion-button>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button href="/create-account" color="light" fill="clear" slot="end">Back</ion-button>
          </ion-buttons>
      </ion-toolbar>
</ion-footer>