ion-input {
    border-bottom: 1px solid rgb(94, 20, 20);
}
h2, ion-input {
    // text-align: left;
}
.wrap img {
    text-align: center;
}
img {
    display: inline-block;
    width: 50%;
}
p {
    font-size: 0.9em
}