
ion-avatar {
    display: inline-block;
    height: 200px;
    width: 200px;
}
.imgwrap {
    width:100%;
    text-align: center;
}
ion-input {
    text-align: right
}
img {
    background: url('../../../assets/loader.gif') no-repeat;
    background-position: center; 
    position: relative;
  }
  .profile {
      margin-top: 10px;
  }
 